body {
    background-color: rgb(58, 57, 57);
    color: white;
}

.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    min-height: 100vh;
    margin-top: 10rem;
}


.index-title h1 {
    font-size: 6rem;
    margin-bottom: 3rem;
}

input {
    min-width: 90%;
    width: 700px;
    border-radius: 12px;
    border: none;
    height: 35px;
}

input[placeholder]{
    text-align: center;
    font-style: italic;
}

.negative-x-margin {
    font-size: 1.5rem;
    color: rgb(31, 30, 30);
    position: absolute;
    left: 6px;
    top: 6px;
}

.form-field {
    position: relative;
}

h1 {
    text-transform: uppercase;
}

.header {
    display: flex;
    justify-content: end;
}

.logo {
    display: flex;
    margin-right: 1rem;
    gap: .5rem;
}

.logo img {
    object-fit: contain;
    width: 100%;
}

.logo h1 {
    font-size: 2rem;
    margin: 0;
}